@import '../Vars.scss';
.AddRoom {
    color: $primary-color;
    width: 100%;
    display: flex;
  }
  
  .AddRoom-form {
    margin: auto;
  
    h2 {
      margin: 50px 0 50px 0;
    }
  }
  
  .AddRoom__fields {
    display: inline-grid;
  
    input {
      width: 600px;
      margin: 20px 0 20px 0;
      border: none;
      border-bottom: 1px solid $primary-color;
    }
  
    button {
      width: 30%;
      float: right;
    }
  }
  
  input {
    &:focus, &.form-control:focus {
      outline: none !important;
      outline-width: 0 !important;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }