@import '../Vars.scss';

.CreateGuestAccount{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #3D1BC5;
}
.CreateGuestAccount-form{
    margin:auto;
}
.CreateGuestAccount-form h2{
    margin: 0 0 70px 0;
}
.CreateGuestAccount__fields{
    display: inline-grid;
}
.CreateGuestAccount__fields input{
    width: 500px;
    margin: 25px 0 25px 0;
    border:none;
    border-bottom: 1px solid  #3D1BC5;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.Login__card--button{
    width: 30%;
}

@media screen and (max-width: 1024px) {
    .CreateGuestAccount {
        &--form {

        }
    }

    .VerticalBanner {
        img {
            width: 270px;
        }
    }
}

@media screen and (max-width: 768px) {
    .CreateGuestAccount {
        grid-template-columns: 70% 30%;
    }

    .VerticalBanner {
        img {
            width: 190px;
        }
    }
}

@media screen and (max-width: 425px) {
    .CreateGuestAccount {
        display: block;
        // @include container(400px);
    }

    .VerticalBanner {
        height: 35vh;
        width: 100vw;
        img {
            width: 190px;
        }
    }
}