@import '../Vars.scss';

.CreateAcountSelect {
    height: 80vh;
    display: grid;
    place-content: center;

    &__title {
        @include title;
        // margin: 0;
        font-size: 2.5em;
        text-align: center;
    }
    &__subtitle {
        text-align: center;
        margin: 1.5em;
    }

    &__select {
        display: flex;
        
        &--button {
            margin-right: 2em;
            background: $gray-color;
            border-radius: 15px;
            padding: 1em 1.5em;
            text-align: center;
            transition: .3s;
            transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

            p {
                color: $primary-color;
                margin-bottom: 2em;
                font-weight: bold;
                
            }

            &:hover {
                transform: translateY(-15px);
                box-shadow: 2px 2px 1px 1px $primary-color;            }
        }
    }
}

@media screen and (max-width: 768px) {
    .CreateAcountSelect {

        &__title {
            font-size: 2em;
        }
        &__subtitle {
            margin: 1em;
        }

        &__select {
            &--button {
                & img {
                    width: 220px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .CreateAcountSelect {
        margin-top: 70px;

        &__title {
            font-size: 1.7em;
        }
        &__subtitle {
            margin: .4em;
        }

        &__select {
            flex-direction: column;
            &--button {
                margin-bottom: 1em;
                & img {
                    width: 180px;
                }
            }
        }
    }
}
