@import '../Vars.scss';

.CreateGuestAccount{
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: $primary-color;
}
.CreateGuestAccount-form{
    margin:auto;
}
.CreateGuestAccount-form h2{
    margin: 0 0 70px 0;
}
.CreateGuestAccount__fields{
    display: inline-grid;
}
.CreateGuestAccount__fields input{
    width: 500px;
    margin: 25px 0 25px 0;
    border:none;
    border-bottom: 1px solid $primary-color;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.Login__card--button{
    width: 30%;
}