@import '../Vars.scss';

.FavoriteItem {
    background: $gray-color;
    width: 100%;
    // height: 200px;
    border-radius: 15px;
    // margin: 0 auto;
    display: grid;
    grid-template-columns: 7% 45% 48%;

    &__icon {
        display: grid;
        place-content: center;
        background: $secondary-color;
        border-radius: inherit;

        &--heart {
            color: $gray-color;
            font-size: 2em;
        }
    }

    &__text {
        grid-column: 2;
        display: grid;
        place-content: center;
        &--title {
            @include title;
        }
    }

    &__img {
        grid-column: 3;
        // background: red;
        // padding-left: 1em;
        
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 15px;
        }

    }
}