@import '../Vars.scss';

.FavoriteItem {
    background: $gray-color;
    width: 65%;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__fav {
        color: $secondary-color;
        font-size: 2em;
        margin: 0 1em;
    }

    &__text {

        &--title {
            @include title;
        }
    }

    &__img {
        width: 223px;
        height: 217px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

    }
}