@import '../Vars.scss';

.Favorites {
    @include container(1200px);

    &__title {
        @include title;
    }
}

@media screen and (max-width: 1025px) {
    .Favorites {
        @include container(850px);
    }
}

@media screen and (max-width: 769px) {
    .Favorites {
        @include container(660px);
        
        &__title {
            font-size: 1.5em;
        }
    }
}

@media screen and (max-width: 426px) {
    .Favorites {
        @include container(370px);
        
        &__title {
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width: 376px) {
    .Favorites {
        @include container(335px);
        
        &__title {
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 321px) {
    .Favorites {
        @include container(285px);
    }
}