@import '../Vars.scss';

.footer{
    color: white;
    background-color:$dark-color;
    height: 235px;


    &__cta {
        height: 110px;
        text-align: center;
        padding: 10px;
        border-bottom: .5px solid $dark-color;

        h3 {
            margin: 1em 0 0 0;
        }

        &--button {
            @include base-button($gray-color, $secondary-color, $border-button);
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3em;
    }
}

@media screen and (max-width: 426px) {
    .footer {
        height: 335px;
        

        &__icons {
            display: block;

            &--social {
                text-align: center;
                margin: 3em 0 ;
            }

            &--copy {
                text-align: center;
                padding-bottom: 1em;

                p {
                    margin: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 376px) {
    .footer {
        height: 355px;

    }
}


@media screen and (max-width: 321px) {
    .footer {
        &__cta {
            h3 {
                font-size: .85em;
            }
        }
    }
}

