@import '../Vars.scss';

.Interest {
  margin-right:10px;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border: 1px solid $primary-color;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
}

.active {
  color: $gray-color;
  background-color: $primary-color;
}
.inactive {
  color: $primary-color;
  background-color: transparent;
}