@import '../Vars.scss';

.Login {
    // display: grid;
    // height: 90vh;
    // place-content: center;
    @include container(600px);

    &__title {
        @include title;
        font-size: 2.5em;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        margin-top: 3em;
    }

    &__card {
        background-color: #F2F2F2;
        border: 1px solid #c1c1c1;
        border-radius: 15px;
        padding: 2em 6em 2em 3em;
        width: 100%;
        display: flex;
        flex-direction: column;

        h3 {
            color: black;
        }

        input {
            width: 100%;
            font-size: 20px;
            border: none;
            background: transparent;
            border-bottom: 1px solid black;
            margin-bottom: 2em;
        }


        &--button {
            // display: block;
            @include base-button($gray-color, $secondary-color, $border-button);
            margin: 0;
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 426px) {
    .Login {
        @include container(350px);

        &__title {
            font-size: 1.5em;
        }

        &__subtitle {
            font-size: .8em;
        }

        &__card {
            padding: 2em;
            font-size: .8em;
        }
    }
}

@media screen and (max-width: 376px) {
    .Login {
        @include container(300px);

        &__title {
            font-size: 1.2em;
        }

        &__card {
            
        }
    }
}

@media screen and (max-width: 321px) {
    .Login {
        @include container(275px);

        &__title {
            font-size: 1em;
        }

        &__subtitle {
            font-size: .65em;
        }

        &__card {
            &--button {
                font-size: .8em;
            }
        }
    }
}