@import '../Vars.scss';

.Login {
    display: grid;
    height: 90vh;
    place-content: center;

    &__title {
        @include title;
        font-size: 2.5em;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        margin-top: 3em;
    }

    &__card {
        background: $primary-color;
        border-radius: 15px;
        padding: 2em 6em 2em 3em;
        width: 606px;
        display: flex;
        flex-direction: column;

        h3 {
            color: $gray-color;
        }

        input {
            width: 100%;
            border: none;
            background: transparent;
            border-bottom: 1px solid white;
            margin-bottom: 3em;
        }

        &--button {
            // display: block;
            @include base-button($gray-color, $secondary-color, $border-button);
            margin: 0;
            font-size: 1em;
        }
    }
}