@import '../Vars.scss';

.PerfilEdit{
    width: 50%;
    margin: 80px auto;
    color: #3D1BC5;

    &__photo {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        img {
            width: 100px;
            height: 100px;
            margin-left: 100px;
            margin-right: 20px;
            border-radius: 50%;
        }
    }
    &__form{
        display: grid;
        padding: 5px;
    }
    &__form input{
        border: none;
        border-bottom:1px solid #3D1BC5;
        outline: none;
        margin: 10px 0;
    }
    &__PersonalDesc {
        display: grid;
        margin-bottom: 20px;

        & textarea {
            width: 100%;
            height: 100px;
            margin: 10px 0 10px 0;
            display: grid;
            border: 1px solid $primary-color;
        }
    }

    &__interest {
        display: flex;
        width: 50%;

        &--item {
            margin-right:10px;
            margin-top: 10px;
            padding: 5px;
            color: white;
            background-color: $primary-color;
            border-radius: 10px;
        }
    }

    &__button {
        @include base-button($gray-color, $secondary-color, $border-button);
        margin: 4em 0 0 0 ;
    }
}

@media screen and (max-width: 425px) {
    .PerfilEdit {
        &__photo {
            display: block;
        }
    }
}
