@import '../Vars.scss';
.RoomDescription{
    width: 100%;
    margin-right: 10px;
    padding: 20px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.RoomDescription-header{
    display: flex;
    align-items: center;

    &--icon {
        color: $primary-color;
        font-size: 2em;
    }
}
.RoomDescription-header h2{
    margin-left: 10px;
    color: $primary-color;
}
.RoomDescription-descriptionDetail p{
    margin: 20px 0 20px 0;
}
.RoomDescription-desctiptionItems p{
    margin: 0;
}