@import '../Vars.scss';

.Searchbar {
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;

    &__icon {
        // width: 30px;
        
        color: $primary-color;
    }

    &__input {
        width: 39%;
        padding: .5em;
        border-top-left-radius: 7px;    
        border-bottom-left-radius: 7px;
        border: 1px solid $primary-color;
        background: transparent;
        font-family: inherit;
    }

    &__button {
        @include base-button($gray-color, $primary-color, .1px solid $primary-color);
        margin: 0;
        padding: .5em;
        border-top-left-radius: 0;    
        border-bottom-left-radius: 0;    
    }
}