@import '../Vars.scss';

.Searchbar {
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;

    &__icon {
        // width: 30px;
        
        color: $primary-color;
    }

    &__input {
        width: 50%;
        padding: .5em;
        border-top-left-radius: 7px;    
        border-bottom-left-radius: 7px;
        border: 1px solid $primary-color;
        background: transparent;
        font-family: inherit;
    }

    &__button {
        @include base-button($gray-color, $primary-color, .1px solid $primary-color);
        margin: 0;
        padding: .5em;
        border-top-left-radius: 0;    
        border-bottom-left-radius: 0;    
    }
}

@media screen and (max-width: 425px) {
    .Searchbar {
        margin-top: 1.5em;
        
        &__input {
            font-size: .7em;
        }

        &__button {
            font-size: .7em;

        }
    }
}

@media screen and (max-width: 320px) {
    .Searchbar {
        margin-top: 1.2em;

        &__input {
            font-size: .6em;
        }

        &__button {
            font-size: .6em;

        }
    }
}